<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Volver"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En este apartado usted podra registrar su asistencia a clases de manera remota, solo debe permitir el uso de su camara a 
      la aplicacion y escanear el codigo QR que presente el profesor
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" fill="outline">Registrar Asistencia</ion-button>
</ion-content>
