<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Volver"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Asistencia Registrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  
  <ion-card class="centrar">
    <img src="assets/img/cartel.png">
  </ion-card>


<ion-button color="success" expand="block" [routerLink]="['/home']" >Volver</ion-button>

</ion-content>
