<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Volver"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Escaneo Qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  
    <ion-card class="centrar">
      <img src="assets/img/qr-code.png">
    </ion-card>
  

  <ion-button color="success" expand="block" [routerLink]="['/asiscom']" >Escanear codigo Qr</ion-button>

</ion-content>
