ion-content.background{
    --ion-background-color:#007ED7;
  }
  
  ion-card.background{
    --ion-background-color:#F2AC0B;
  }
  
  .centrar{
    display: flex;
    justify-content: center;
  }
  
  .parrafo{
    color: azure;
    font-size: x-large;
  }
  
  .titulo{
    font-weight: 600;
    font-size: xx-large;
  }
  
  ion-header.background{
    --ion-background-color:#316B94;
  }