ion-content.background{
  --ion-background-color:#007ED7;
}

ion-card.background{
  --ion-background-color:#F2AC0B;
}

.centrar{
  display: flex;
  justify-content: center;
}

.parrafo{
  color: azure;
  font-size: x-large;
}

.titulo{
  font-weight: 600;
  font-size: xx-large;
}

ion-header.background{
  --ion-background-color:#316B94;
}



#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}