<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      Menu Principal
    </ion-title>
    <ion-button slot="end" (click) ="logout()" expand="block" fill="outline" shape="round" color="danger">
      LogOut
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      <ion-card class="centrar">
      <img src="assets/img/registroapplogov1chico.png">
      </ion-card>
      <br><br>
      <ion-card-title class="titulo" >Aplicacion Registro Asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="parrafo">
      Esta aplicacion permite la optimizacion de la toma de asistencia en aulas de estudio
      siendo su principal funcionamiento el uso por parte de los alumnos como puente para registrar su asistencia sin 
      depender de que el profesor la tome por si mismo.
      <br><br><br>
      Funciones disponibles dentro de la app:
    </ion-card-content>
   
    <ion-card class="background">
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Iniciar Sesion</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label>Registrar Usuario</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        <ion-label>Pagina de inicio</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="qr-code-outline" slot="start"></ion-icon>
        <ion-label>Registrar Asistencia</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-item>
    </ion-card>
  </ion-card>
  
  <ion-card >
    <ion-card class="centrar">
      <img src="assets/img/Lector.jpg">
    </ion-card>
  </ion-card>
</ion-content>
